<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desktop-76lf2sc.CTDT_CDKTDN.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-76LF2SC;user id=sa;password=1;initial catalog=CTDT_CDKTDN;Persist Security Info=true;Encrypt=true;TrustServerCertificate=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>