USE [master]
GO
/****** Object:  Database [CTDT_CDKTDN]    Script Date: 11/11/2024 23:21:37 ******/
CREATE DATABASE [CTDT_CDKTDN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CTDT_CDKTDN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CTDT_CDKTDN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CTDT_CDKTDN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CTDT_CDKTDN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CTDT_CDKTDN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CTDT_CDKTDN]
GO
/****** Object:  Table [dbo].[ChiTietCTDT]    Script Date: 11/11/2024 23:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietCTDT](
	[MaCTDT] [varchar](20) NOT NULL,
	[MaMon] [varchar](20) NOT NULL,
	[HocKy] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietCTDT] PRIMARY KEY CLUSTERED 
(
	[MaCTDT] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDT]    Script Date: 11/11/2024 23:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDT](
	[MaCTDT] [varchar](20) NOT NULL,
	[NamPhatHanh] [int] NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CTDT] PRIMARY KEY CLUSTERED 
(
	[MaCTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeHoachDaoTaoTheoKhoa]    Script Date: 11/11/2024 23:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeHoachDaoTaoTheoKhoa](
	[MaCTDT] [varchar](20) NOT NULL,
	[MaMon] [varchar](20) NOT NULL,
	[Khoa] [varchar](20) NOT NULL,
	[HocKy] [int] NOT NULL,
	[NamHoc] [int] NOT NULL,
 CONSTRAINT [PK_KeHoachDaoTaoTheoKhoa] PRIMARY KEY CLUSTERED 
(
	[MaCTDT] ASC,
	[MaMon] ASC,
	[Khoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 11/11/2024 23:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](20) NOT NULL,
	[TenKhoa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 11/11/2024 23:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](20) NOT NULL,
	[KieuMa] [nvarchar](50) NOT NULL,
	[LoaiMon] [nvarchar](50) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[MaNghe] [varchar](20) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[LyThuyet] [int] NOT NULL,
	[ThucHanh] [int] NOT NULL,
	[KiemTra] [int] NOT NULL,
	[ThuongXuyen] [int] NOT NULL,
	[DinhKy] [int] NOT NULL,
	[ThiHetMon] [int] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonHoc_1] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nghe]    Script Date: 11/11/2024 23:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nghe](
	[MaNghe] [varchar](20) NOT NULL,
	[TenNghe] [nvarchar](50) NOT NULL,
	[MaKhoa] [varchar](20) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Nghe_1] PRIMARY KEY CLUSTERED 
(
	[MaNghe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11/11/2024 23:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](200) NOT NULL,
	[MatKhau] [varchar](200) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NOT NULL,
	[HinhAnh] [varbinary](max) NULL,
 CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNTT', N'Công nghệ thông tin')
GO
INSERT [dbo].[MonHoc] ([MaMon], [KieuMa], [LoaiMon], [TenMon], [MaNghe], [SoTinChi], [LyThuyet], [ThucHanh], [KiemTra], [ThuongXuyen], [DinhKy], [ThiHetMon], [GhiChu]) VALUES (N'5.202.56', N'MH', N'Môn học chuyên nghề', N'Cơ sở dữ liệu', N'6480202', 3, 40, 16, 4, 2, 2, 1, N'')
INSERT [dbo].[MonHoc] ([MaMon], [KieuMa], [LoaiMon], [TenMon], [MaNghe], [SoTinChi], [LyThuyet], [ThucHanh], [KiemTra], [ThuongXuyen], [DinhKy], [ThiHetMon], [GhiChu]) VALUES (N'5.202.57', N'MĐ', N'Môn học chuyên nghề', N'Quản trị CSDL với MS Access', N'6480202', 4, 45, 71, 4, 2, 2, 1, N'Mô-đun')
INSERT [dbo].[MonHoc] ([MaMon], [KieuMa], [LoaiMon], [TenMon], [MaNghe], [SoTinChi], [LyThuyet], [ThucHanh], [KiemTra], [ThuongXuyen], [DinhKy], [ThiHetMon], [GhiChu]) VALUES (N'5.202.58', N'MĐ', N'Môn học chuyên nghề', N'Lập trình hướng đối tượng', N'6480202', 3, 30, 41, 4, 2, 2, 1, N'Mô-đun')
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([ID], [TenDangNhap], [MatKhau], [TenNguoiDung], [HinhAnh]) VALUES (1, N'admin', N'123456', N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
ALTER TABLE [dbo].[ChiTietCTDT]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietCTDT_CTDT] FOREIGN KEY([MaCTDT])
REFERENCES [dbo].[CTDT] ([MaCTDT])
GO
ALTER TABLE [dbo].[ChiTietCTDT] CHECK CONSTRAINT [FK_ChiTietCTDT_CTDT]
GO
ALTER TABLE [dbo].[ChiTietCTDT]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietCTDT_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietCTDT] CHECK CONSTRAINT [FK_ChiTietCTDT_MonHoc]
GO
ALTER TABLE [dbo].[KeHoachDaoTaoTheoKhoa]  WITH CHECK ADD  CONSTRAINT [FK_KeHoachDaoTaoTheoKhoa_CTDT] FOREIGN KEY([MaCTDT])
REFERENCES [dbo].[CTDT] ([MaCTDT])
GO
ALTER TABLE [dbo].[KeHoachDaoTaoTheoKhoa] CHECK CONSTRAINT [FK_KeHoachDaoTaoTheoKhoa_CTDT]
GO
ALTER TABLE [dbo].[KeHoachDaoTaoTheoKhoa]  WITH CHECK ADD  CONSTRAINT [FK_KeHoachDaoTaoTheoKhoa_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[KeHoachDaoTaoTheoKhoa] CHECK CONSTRAINT [FK_KeHoachDaoTaoTheoKhoa_MonHoc]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_Nghe] FOREIGN KEY([MaNghe])
REFERENCES [dbo].[Nghe] ([MaNghe])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_Nghe]
GO
ALTER TABLE [dbo].[Nghe]  WITH CHECK ADD  CONSTRAINT [FK_Nghe_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Nghe] CHECK CONSTRAINT [FK_Nghe_Khoa]
GO
USE [master]
GO
